<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Email</th>
      <th>Feedback</th>
    </tr>
  </thead>

  <tbody>
    <% @domain.comments.each do |comment| %>
      <tr>
        <td><%= comment.url %></td>
        <td><%= comment.email %>
        <td><%= comment.feedback %></td>
        <td><%#= link_to "Delete", comment, method: :delete, data: { confirm: "are you sure?" } %>
      </tr>
    <% end %>
  </tbody>
</table>
