<form
action="http://localhost:7000/domains/1/comments"
id="feedback_form_0243"
method="post">
  <input id="domain_id" name="comment[domain_id]" type="hidden" value="1">
  <input
  id="comment_url"
  name="comment[url]"
  type="hidden"
  placeholder="current website">
  <input
  id="feedback_email"
  name="comment[email]"
  type="text"
  placeholder="email (optional)"
  class="interactive">
  <textarea
  id="feedback_text"
  class="interactive"
  name="comment[feedback]"
  row="4"
  type="text"
  placeholder="your words of wisdom"></textarea>
  <input name="commit" type="submit" value="send">
</form>