<section class="highlights">
  <h2 class="featured">Why [name of product] is helpful</h2>
</section>


<!--

BUZZWORDS/FEATURES

-feedback vs micro-survey
-insight
-response notificaiton via email
-reporting and analytics
-

COMPARISONS
-# of unique widgets
-# of responses
-mobile version
-price
-multiple choice
-free form
-voting
-easy creation and integration
-# of admins
-white labeling
-targeting rules
-custom styling
-custom events (when a user clicks on an element, amount of time on page, 80% down the page)
-support type


  -->
