<section class="highlights">
  <h2 class="featured">How it works</h2>
  <div class="feature">
    <span class="step-number">1</span>
    <i class="fa fa-check fa-4x"></i>
    <h3>create your widget</h3>
    <p>Create a widget using our simple and intuitive builder.</p>
  </div>
  <div class="feature">
    <span class="step-number">2</span>
    <i class="fa fa-code fa-4x"></i>
    <h3>get one line of code</h3>
    <p>Get your code. Copy and paste it onto each page of your website you want feedback for. Simple as that.</p>
  </div>
  <div class="feature">
    <span class="step-number">3</span>
    <i class="fa fa-child fa-4x"></i>
    <h3>understand your users</h3>
    <p>Feedback is delivered to your inbox*. Log into your dashboard to get more detailed information.</p>
  </div>
</section>

<section class="highlights">
  <h2 class="featured">Why [name of product] is helpful</h2>
</section>

<section class="highlights">
  <h2 class="featured">Don't pay outrageous prices</h2>
</section>
