<section class="highlights">
  <h2>How it works</h2>
  <div class="step">
    <span class="step-number">1</span>
    <i class="fa fa-check fa-4x"></i>
    <h3>create your survey</h3>
    <p>Create a survey tool using our simple and intuitive builder above. Checkout <%= link_to "some good use cases", use_cases_path %></p>
  </div>
  <div class="step">
    <span class="step-number">2</span>
    <i class="fa fa-code fa-4x"></i>
    <h3>get one line of code</h3>
    <p>Paste it into the HTML of each page of your website you want it to appear on right before the closing body tag</p>
  </div>
  <div class="step">
    <span class="step-number">3</span>
    <i class="fa fa-child fa-4x"></i>
    <h3>understand your users</h3>
    <p>Feedback is delivered to your inbox. Log in and check your dashboard to get more detailed info on each response</p>
  </div>
</section>

<h4 class="example-link"><%= link_to "See a live demo »", faq_path %></h4>