<% content_for :title do %>
  FAQ
<% end %>

<h1 class="static-page-header">FAQ</h1>

<div class="small-column">
  <b>Who do I email if I need help or support?</b>
  <p>We will be glad to assist you. Email us at help@freesurveycreator.com</p>

  <b>Where do I place the script line I was given?</b>
  <p>The best location is right before your closing body tag on each page of your website that you'd like the widget to appear on</p>

  <b>What kinds of mobile devices are supported?</b>
  <p>The survey will respond to all mobile devices with a device-pixel-width between 320px and 500px which covers most smartphones today. <a href="http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972">Remember</a> that if you do not have a viewport meta tag on your site, media queries will not be applied properly.</p>

  <b>What new features will be added in the future?</b>
  <p>The hope is to have several more features added shortly including an email digest of your feedback, extended field customization, and multiple admins per account to name a few.</p>

  <b>What are the usage limits for the surveys?</b>
  <p>No limits! Go berzerk. Maybe show us some love on twitter though?</p>

  <b>What browsers does this tool work on?</b>
  <p>It works in IE9+ and all of the other greats including Chrome, Safari, Firefox and Opera. It simply does not display if the user has IE8 or below.</p>

  <b>Do these surveys work when used on encrypted sites?</b>
  <p>Not currently, we have to get our certificate first. Coming soon!</p>
</div>

<script type='text/javascript' src='http://www.freesurveycreator.com/embeds/6.js'></script>