
    <div class="mock-page">
      <div class="settings">


        <h2>Styles</h2>

        <span>Background Color: </span><input class="bg-hex" type="text"><br>
        <span>Input field background color: </span><input class="field-color" type="text"><br>
        <span>Text Color: </span><input class="text-hex" type="text"><br>
        <p>
          <label for="amount">Container Border Radius:</label>
          <input type="text" class="container-radius" value="5px" style='border:none;'>
        </p>
        <div id="cRadius-range"></div>
        <p>
          <label for="amount">Form and Button Border Radius:</label>
          <input type="text" class="field-radius" value="0px" style='border:none;'>
        </p>
        <div id="fRadius-range"></div>
        <hr>


        <h2>Content</h2>

        <span>Headline text: </span><input class="headline-text" type="text"><br>
        <span>Email placeholder text: </span><input class="email-text" type="text"><br>
        <span>Body placeholder text: </span><input class="body-text" type="text"><br>
        <span>Button text: </span><input class="button-text" type="text"><br>
        <span>Display or Hide on load?</span><br>
        <input type="radio" id="yes-display" name="widget-display-options" checked>
        <label for="yes-display">Show</label>
        <input type="radio" id="no-hide" name="widget-display-options">
        <label for="no-hide">Hide</label>
        <br><hr>


        <h2>User Info</h2>
        <%= render 'users/sign_up' %>
        <hr>

        <button onclick="displayCode();">Give me the code!</button>


  <div class="feedback-container">
    <p class="action-call">Help us understand WTF we're doing</p><span class="minus action-call">–</span>

    <form id="feedback_form_0243" method="post" name="a_feedback_form"
    style="display: none;">
      <input id="domain_id" name="comment[domain_id]" type="hidden"><input id="comment_url" name="comment[url]" type=
      "hidden"><input class="interactive" id="feedback_email" name=
      "comment[email]" placeholder="email (optional)" type="text">
      <textarea class="interactive" id="feedback_text" name="comment[feedback]"
      placeholder="your words of wisdom" required="" rows="4">
</textarea><input class="interactive submit-button" name="commit" type="submit"
      value="send">
    </form>
  </div>

      </div>

      <div class="code-container"></div>

    </div>

<% content_for :js do %>
  <%= javascript_include_tag 'widget' %>
  <%= javascript_include_tag 'create_feedback' %>
<% end %>
