<div class="container">
  <div class="settings" id="msform">
    <fieldset>
      <h2>Get your style on</h2>
      <input class="bg-hex" type="text" placeholder="background color">
      <input class="field-color" type="text" placeholder="field color">
      <input class="text-hex" type="text" placeholder="text color">
      <div class="range-sliders">
        <label for="container_radius">Container Border Radius</label>
        <input type="hidden" class="container-radius" id="container_radius" value="0" style='border:none;'>
        <div id="cRadius-range"></div>
        <label for="input_radius">Form and Button Border Radius</label>
        <input type="hidden" class="field-radius" id="input_radius" value="0" style='border:none;'>
        <div id="fRadius-range"></div>
      </div>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset>
      <h2>What do you want to find out?</h2>
      <input class="headline-text" type="text" placeholder="headline text">
      <input class="email-text" type="text" placeholder="email placeholder">
      <input class="body-text" type="text" placeholder="body text placeholder">
      <input class="button-text" type="text" placeholder="button text">
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset>
      <h2>Grand finale</h2>
      <div class="display-options">
        <input type="radio" id="yes-display" name="widget-display-options" checked>
        <label for="yes-display">Show fully on load</label><br>
        <input type="radio" id="no-hide" name="widget-display-options">
        <label for="no-hide">Hide on load</label>
      </div>
      <%= render 'users/sign_up' %>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
    </fieldset>

    <div class="platform"></div>
  </div>

  <ul id="progressbar">
    <li class="text-edit active">Style</li>
    <li class="style-edit">text</li>
    <li class="user-edit">Finish</li>
  </ul>
</div>

<!--   <button onclick="displayCode();">Gimme that good shit</button> -->



<div class="code-container"></div>
<script type="text/javascript">
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate


$(".next").click(function(){

  current_fs = $(this).parent();
  next_fs = $(this).parent().next();

  //activate next step on progressbar using the index of next_fs
  $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

  //show the next fieldset
  next_fs.fadeIn(600);
  current_fs.hide();
  //hide the current fieldset with style
});

$(".previous").click(function(){

  current_fs = $(this).parent();
  previous_fs = $(this).parent().prev();

  //de-activate current step on progressbar
  $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

  //show the previous fieldset
  previous_fs.fadeIn(600);
  current_fs.hide();
  //hide the current fieldset with style
});

$(".submit").click(function(){
  return false;
})
</script>



<% content_for :js do %>
  <%= javascript_include_tag 'create_feedback' %>
  <%= javascript_include_tag 'widget' %>
<% end %>
