<% content_for :title do %>
  Use Cases
<% end %>

<h1 class="static-page-header">Common use cases for a survey tool</h1>
<div class="row">
  <div class="small-column">
    <b>Grow your email list</b>
    <p>Use the widget on pages you wish to capture email for further contact with your users</p>

    <b>Feedback on a newly released feature or design</b>
    <p>Evidence has shown that getting user feedback early and often can be key in maintaining a happy customer base</p>

    <b>What did a user come to your site looking for?</b>
    <p></p>

    <b>Was a particular page or section helpful?</b>
    <p></p>

    <b>Finding out if your pricing section is clear and transparent</b>
    <p></p>

    <b>A help section</b>
    <p>This is not for live chat of course, but this tool can be used as a way for users to reach out when needing help as well.</p>

    <b>User ideas for future product or feature</b>
    <p>Get input on what users would like to see developed next.</p>

    <b>How likely a user is to recommend your site to a friend</b>
    <p></p>

    <b>Biggest influence on a purchasing decision</b>
    <p></p>

    <b>For blogging, what topic a user might want to see covered next</b>
    <p></p>

  </div>
</div>