<h1 class="page-header">Common use cases for a survey tool</h1>
<div class="row">
  <div class="half-width">
    <b>Grow your email list</b>
    <p>Use the widget on pages you wish to capture email for further contact with your users</p>

    <b>Feedback on a newly released feature or design</b>
    <p>Evidence has shown that getting user feedback early and often can be key in maintaining a happy customer base</p>

    <b>What did a user come to your site looking for?</b>
    <p></p>

    <b>Was a particular page or section helpful?</b>
    <p></p>

    <b>Finding out if your pricing section is clear and transparent</b>
    <p></p>

  </div>
  <div class="half-width">
    <b>A help section</b>
    <p>This is not for live chat of course, but this tool can be used as a way for users to reach out when needing help as well.</p>

    <b>User ideas for future product or feature</b>
    <p>Get input on what users would like to see developed next.</p>

    <b>How likely a user is to recommend your site to a friend</b>
    <p></p>

    <b>Biggest influence on a purchasing decision</b>
    <p></p>

    <b>For blogging, what topic a user might want to see covered next</b>
    <p></p>

  </div>

  <h1 class="page-header">FAQ</h1>

  <div class="half-width">
    <b>Where do I place the script line I was given?</b>
    <p>The best location is right before your closing body tag on each page of your website that you'd like the widget to appear on</p>

    <b>What new features will be added in the future?</b>
    <p>The hope is to have several more features added shortly including an email digest of your feedback, mobile responsiveness, and multiple admins per account to name a few.</p>
  </div>

  <div class="half-width">
    <b>What are the usage limits for the surveys?</b>
    <p>Unlimited!</p>

    <b>What browsers does this tool work on?</b>
    <p>It works in IE9+ and all of the other greats including Chrome, Safari, Firefox and Opera. It simply does not display if the user has IE8 or below.</p>
  </div>
</div>


<script type='text/javascript' src='http://www.freesurveycreator.com/embeds/6.js'></script>