<h1>All Surveys (<%= @domains.count %>)</h1>

<% @domains.each do |domain| %>
    <p>
      <%= link_to domain.url, domain_comments_path(domain.id) %> |
      <%= link_to 'Delete', domain, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>

