Hey there,

We just wanted to let you know you received some feedback:

<p><%= @feedback %><p>

<a href="http://www.freesurveycreator.com/domains/#{@link}/comments">Visit your dashboard to see more</a>