<h1 style="max-width:500px;color:#454545;padding-bottom: 10px; border-bottom: 1px solid #eeeeee;font-size:18px;font-weight:300;margin-top:10px;">Free Survey Creator</h1>

<p>We just wanted to let you know you received some new feedback</p>

<p style="font-size: 14px; font-style: italic; font-family: georgia, serif;"><%= @feedback unless @feedback.blank? %><p>

<a href="http://www.freesurveycreator.com/">Visit your dashboard to see more</a><br><br>

<p>If you have any questions, feel free to reply to this email</p>