Hey there,<br>

We just wanted to let you know you received some new feedback:

<p style="font-size: 16px; font-style: italic; font-family: georgia, serif;">"<%= @feedback %>"<p>

<a href="http://www.freesurveycreator.com/">Visit your dashboard to see more</a><br><br>

<span style="color: #999999; font-size: 12px;">freesurveycreator.com</span>
<br><br>