//* {
//  box-sizing: border-box;
//}

//.container {
//  position: relative;
//  margin: 60px auto;
//  width: 520px;

//  #progressbar {
//    padding: 0;
//    margin: 0;
//    margin-top: -20px;
//    height: 15px;
//    width: 100%;
//    width: 630px;
//    position: absolute;
//    left: -63px;
//    z-index: -1;

//    li {
//      list-style: none;
//      width: 20%;
//      float: left;
//      position: relative;
//      height: 15px;

//      &:after {
//        content: "";
//        width: 100%;
//        height: 15px;
//        position: absolute;
//        left: -50%;
//        top: 9px;
//        z-index: -1;
//      }
//      &:first-child:after {
//        content: none;
//      }
//      &.active:before, &.active:after {
//        background: #27AE60;
//        color: #fff;
//      }
//    }
//  }

//  .action-button {
//    position: absolute;
//    bottom: 0;

//    &.submit, &.next, &#user_new {
//      right: 150px;
//    }

//    &.previous {
//      right: 260px;
//    }
//  }
//}

//.platform {
//  position: relative;
//  height: 300px;
//  width: 49%;
//  display: inline-block;
//}

//.settings {
//  position: absolute;
//  width: 520px;
//  height: 520px;
//  border-radius: 50%;
//  padding-top: 10px;
//  margin-top: 30px;

//  .platform {
//    position: relative;
//    margin-top: 240px;
//  }

//  fieldset {
//    border: none;

//    &:not(:first-of-type) { display: none; }

//    h2 { text-align: center; }

//    .controls {
//      position: absolute;
//      top: 60px;
//      width: 200px;

//      &.left-side { left: -180px; }
//      &.right-side { right: -180px; }
//    }

//    .range-sliders {
//      label {
//        font-size: 12px;
//        color: #404040;
//        line-height: 20px;
//        display: block;
//        text-align: center;
//      }
//      #cRadius-range, #fRadius-range {
//        background: #fff;
//        border: 1px solid #ddd;
//        width: 150px;
//        margin-left: 10px;
//        margin-bottom: 40px;
//        margin-top: 10px;
//        border-radius: 0;
//      }
//    }
//  }
//}


//.ui-state-default,
//.ui-widget-content .ui-state-default,
//.ui-widget-header .ui-state-default {
//  background: #fff;
//  border: 1px solid #d3d3d3;
//  background: #e6e6e6;
//  font-weight: normal;
//  color: #555555;
//  cursor: pointer;
//  outline: none;
//}

//.code-container {
//  width: 100%;
//  padding: 20px;
//  margin: 40px auto;
//  height: auto;
//  min-height: 20px;
//  overflow: scroll;
//}