* {
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 60px auto;
  width: 520px;

  #progressbar {
    overflow: hidden;
    counter-reset: step;
    padding: 0;

    li {
      list-style: none;
      text-transform: uppercase;
      font-size: 9px;
      width: 33.33%;
      float: left;
      position: relative;
      text-align: center;

      &:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        background: #ddd;
        margin: 0 auto 5px auto;
        border-radius: 50%;
      }

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: #ddd;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1;
      }
      &:first-child:after {
        content: none;
      }
      &.active:before, &.active:after {
        background: #27AE60;
        color: #fff;
      }
    }
  }

  .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    position: absolute;
    bottom: 0;

    &.submit, &.next, &#user_new {
      right: 150px;
    }

    &.previous {
      right: 260px;
    }
  }

  .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }
}

.settings {
  position: absolute;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  padding-top: 10px;
  margin-top: 30px;

  .platform {
    position: relative;
    margin-top: 240px;
  }

  fieldset {
    border: none;
    &:not(:first-of-type) {
      display: none;
    }

    h2 { text-align: center; }

    input {
      border: 1px solid transparent;
      border-bottom: 1px solid #ddd;
      outline: none;
      padding: 10px;
      position: absolute;
      &:after {
        content: "";
        width: 100px;
        border-bottom: 1px solid #ddd;
        height: 20px;
        background: red;
      }
      &:focus {
        border: 1px solid #ddd;
      }
      &.bg-hex {
        left: -160px;
        top: 120px;
      }
      &.field-color {
        top: 200px;
        left: -160px;
      }
      &.text-hex {
        top: 280px;
        left: -160px;
      }
      &.body-text {
        right: -160px;
        top: 140px;
      }
      &.button-text {
        right: -160px;
        top: 230px;
      }
      &.email-text {
        left: -160px;
        top: 230px;
      }
      &.headline-text {
        top: 140px;
        left: -160px;
      }
      &.user-email {
        right: -160px;
        top: 120px;
      }
      &.user-pw {
        right: -160px;
        top: 200px;
      }
      &.user-confirm {
        right: -160px;
        top: 280px;
      }
      &.user-domain {
        left: -160px;
        top: 160px;
      }
    }

    .range-sliders {
      position: absolute;
      right: -200px;
      top: 160px;

      label {
        font-size: 12px;
        color: #999;
        line-height: 20px;
        display: block;
        text-align: center;
      }
      #cRadius-range, #fRadius-range {
        background: #fff;
        border: 1px solid #ddd;
        width: 150px;
        margin-left: 10px;
        margin-bottom: 40px;
        margin-top: 10px;
        border-radius: 0;
      }
    }

    .display-options {
      position: absolute;
      left: -160px;
      top: 230px;
      label {
        font-size: 12px;
        color: #999;
        cursor: pointer;
      }
      input { position: static; }
    }
  }
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #fff;
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
  cursor: pointer;
  outline: none;
}

.code-container {
  width: 800px;
  padding: 20px;
  margin: 40px auto;
  height: auto;
  min-height: 20px;
  overflow: scroll;
}