.feedback-container {
  width: 320px;
  padding: 0 20px 10px 20px;
  border-bottom: none;
  position: fixed;
  bottom: 0;
  right: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: sans-serif, helvetica, arial;
  font-size: 14px;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.7);
  font-weight: 300;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(38%, transparent), to(rgba(255,255,255,0.2)));
  &.dark {
    background: #404040;
    color: #fff;
  }

  &.light {
    background: #e6e6e6;
    color: #404040;
  }

  p {
    margin: 0;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 10px 10px 0px 10px;
  }

  .minus {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 15px;
  }
  .interactive {
    margin-top: 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    font-family: 'Lucida Grande', sans-serif, helvetica, arial;
    color: #404040;
    border: 1px solid #bbb;
    outline: none;
    background: #f9f9f9;
  }
  .submit-button {
    padding: 5px 14px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    width: auto;
  }
}
