
.feedback-container {
  width: 320px;
  padding: 0 20px 10px 20px;
  background: #435a6b;
  border-bottom: none;
  position: absolute;
  bottom: 0;
  right: 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: sans-serif, helvetica, arial;
  font-size: 14px;
  box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
  font-weight: 300;
}
.feedback-container p {
  margin: 0;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 10px 10px 0px 10px;
}
.feedback-container .plus, .feedback-container .minus {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
}

.feedback-container .interactive {
  margin-top: 10px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px 8px;
  font-size: 14px;
  font-family: sans-serif, helvetica, arial;
  color: #444;
  border: 1px solid #ddd;
  outline: none;
  background: #f9f9f9;
}

.feedback-container .submit-button {
  background: #435a6b;
  border: 3px solid #354856;
  padding: 5px 14px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  display: inline-block;
  width: auto;
}
